
@using Explorers_Haven.ViewModels.Main
@model OfferPageViewModel

<h1>@Model.OfferName</h1>
<img src="@Model.OfferPic" alt="@Model.OfferName">
<h1>@Model.OfferDisc</h1>
<h1>@Model.OfferRating</h1>
<label for="star5"></label>
<a asp-controller="Booking" asp-action="Book" asp-route-id="@Model.OfferId">
	<div class="rating">
		@if (Model.OfferRatingStars == 5)
		{
			<input value="5" name="rating" id="star5" type="radio" checked>
		}
		else
		{
			<input value="5" name="rating" id="star5" type="radio">
		}
		<label for="star5"></label>
		@if (Model.OfferRatingStars == 4)
		{
			<input value="4" name="rating" id="star4" type="radio" checked>
		}
		else
		{ 
			<input value="4" name="rating" id="star4" type="radio">
		}
		<label for="star4"></label>
		@if (Model.OfferRatingStars == 3)
		{
			<input value="3" name="rating" id="star3" type="radio" checked>
		}
		else
		{
			<input value="3" name="rating" id="star3" type="radio">
		}
		<label for="star3"></label>
		@if (Model.OfferRatingStars == 2)
		{
			<input value="2" name="rating" id="star2" type="radio" checked>
		}
		else
		{
			<input value="2" name="rating" id="star2" type="radio">
		}
		<label for="star2"></label>
		@if (Model.OfferRatingStars == 1)
		{
			<input value="1" name="rating" id="star1" type="radio" checked>
		}
		else
		{
			<input value="1" name="rating" id="star1" type="radio">
		}
		<label for="star1"></label>
	</div>
</a>
<h1>@Model.OfferPrice лв</h1>
<a asp-controller="Booking" asp-action="Book" asp-route-id="@Model.OfferId">Book</a>
<a asp-controller="Booking" asp-action="Cancel" asp-route-id="@Model.OfferId">Cancel</a>
<h1>@Model.StayName</h1>
<h1>@Model.StayStars</h1>
<h1>@Model.StayPrice лв</h1>
<h1>@Model.StayDisc</h1>
<img src="@Model.StayPic" alt="@Model.StayName">



    


@foreach (var a in Model.Activities)
{
	<h1>@a.Name</h1>
}
@foreach (var a in Model.Travels)
{
	<div class="el1">
		<h1>@a.Start</h1>
		<h1>@a.DateStart.ToString()</h1>
	</div>
	<div class="el1">
		<h1>@a.Finish</h1>
		<h1>@a.DateFinish</h1>
	</div>
	<img class="mini-icon" src="~/Images/Plane.svg" alt="Plane" />
	<h1>@a.Transport</h1>
}
<div class="comment">
<a asp-controller="Comment" asp-action="WriteComment" asp-route-id="@Model.OfferId">
	<input type ="text" id="userInput" name="userInput" />
	</a>
	</div>

@foreach (var a in Model.Comments)
{
	<h1>@a.Content</h1>
}


<style>
	.rating {
		display: inline-block;
	}

		.rating input {
			display: none;
		}

		.rating label {
			float: right;
			cursor: pointer;
			color: #ccc;
			transition: color 0.3s;
		}

			.rating label:before {
				content: '\2605';
				font-size: 30px;
			}

			.rating input:checked ~ label,
			.rating label:hover,
			.rating label:hover ~ label {
				color: #6f00ff;
				transition: color 0.3s;
			}
</style>

<script>
	$(document).ready( function () {
		var stars = document.querySelector(".rating").querySelectorAll("input");
		
		stars.forEach(function (star, idx) {
			star.addEventListener('click', async function () {
				const url = "/Rating/Rate/@Model.OfferId?rating=" + this.value;
				try {
					const response = await fetch(url);
					const json = await response.json();
					console.log(json);
					//alert(json.success);
				} catch (error) {
					alert("error");
				}
				
			});
		});
		var comms = document.querySelector(".comment").querySelectorAll("input");

		comms.forEach(function (comm, idx) {
			comm.addEventListener('submit', async function () {
				const url = "/Comment/WriteComment/@Model.OfferId?comment=" + this.value;
				try {
					const response = await fetch(url);
					const json = await response.json();
					console.log(json);
					//alert(json.success);
				} catch (error) {
					alert("error");
				}

			});
		});
	});
</script>