@using Explorers_Haven.ViewModels.Offer
@model AddOfferViewModel
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <div class="mb-2">
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price">Цена</label>
            <input asp-for="Price">
            <span asp-validation-for="Price" class="alert-danger"></span>
        </div>
        <div class="add-track-input-group" id="fileUploadGroup">
            <label for="imageFile" class="add-track-input-label">Cover image</label>
            <input type="file" id="Picture" asp-for="Picture" class="add-track-input-field" accept="image/*" />
        </div>
        <div class="mb-3">
            <label asp-for="StayId">Престои</label>
            <select asp-for="StayId" asp-items="ViewBag.Stays" class="form-control">
                <span asp-validation-for="StayId" class="alert-danger"></span>
                <option value="">Изберете престой</option>
            </select>
        </div>
        <button type="submit">Въведи</button>
    </div>
</form>
@*@using Explorers_Haven.ViewModels.Main
@model OfferPageViewModel

<h3>@Model.Name</h3>
<img src="@Model.OfferCover" alt="@Model.Name">
<h3>@Model.Price</h3>
<h3>@Model.StayName</h3>
<h3>nasladete se na unikalno prejivqvane</h3>


<a asp-controller="Booking" asp-action="Book" asp-route-id="@Model.Id">Book</a>
<a asp-controller="Booking" asp-action="Cancle" asp-route-id="@Model.Id">Cancle</a>*@
