@using Explorers_Haven.ViewModels.Offer
@model OfferFilterViewModel
<div class="albums-header">
    <h1 class="albums-title">oferti</h1>
    <form>
        <div class="search-container">
            <input type="text" asp-for="Search" class="search-bar" placeholder="Търси oferti...">
            <button class="search-btn">
                <i class="fas fa-search"></i> <!-- Search icon with i tag -->
            </button>
        </div>
    </form>
    <a asp-controller="Offer" asp-action="AddOffer" class="add-album-btn">Добави oferta</a>
</div>

<div class="albums-container">
    <h2 class="page-title">Offers</h2>
    <div class="albums-grid">
        @foreach (var offer in Model.Offers)
        {
            <div class="album-card">
                <div class="album-cover">
                    <img src="@offer.CoverImage" alt="@offer.Name">
                    <div class="play-overlay">
                        <button class="play-button"><i class="fas fa-play"></i></button>
                    </div>
                </div>
                <div class="album-info">
                    <h3 class="album-title">@offer.Name</h3>
                </div>
                <div class="card-buttons">
                    <a asp-controller="Offer" asp-action="EditOffer" asp-route-id="@offer.Id" class="edit-btn">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-controller="Offer" asp-action="Delete" asp-route-id="@offer.Id" class="delete-btn">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>


