@using Explorers_Haven.Models
@model IEnumerable<Offer>

<partial name="_Notification"></partial>

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <h3>Оферти</h3>
        </div>
        <div class="col col-md-6">
            <a asp-controller="Offer" asp-action="AddOffer" class="btn btn-primary">Добави оферта</a>
        </div>


    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ИД</th>
            <th scope="col">Име</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@offer.Id</td>
                <td>@offer.Name</td>
                <td>@offer.Price</td>
                <td>
                    <div class="btn-group">
                        <a asp-controller="Offer" asp-action="EditOffer" asp-route-Id="@offer.Id" class="btn btn-primary">Редактирай</a>
                        <a asp-controller="Offer" asp-action="Delete" asp-route-Id="@offer.Id" class="btn btn-primary">Изтрий</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>