@using Explorers_Haven.Models
@model IEnumerable<User>


<div class="row">
    <div class="col-10">
        <h1>All Users</h1>
    </div>
    <div class="col-2">
        <a class="btn-danger" asp-controller="User" asp-action="AddUser">Add User</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Bio</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th>@user.Username</th>
                <td>@user.UserIdentity.Email</td>
                <td>@user.Bio</td>
                <td>
                    <a class="btn-info" asp-controller="User" asp-action="Update" asp-route-id="@user.Id">Update</a>
                    <a class="btn-danger" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
