@using Explorers_Haven.ViewModels.User
@model UserViewModel

<h1>Update User</h1>

<form method="post">
    <input type="text" placeholder="Username" asp-for="@Model.Name" />
    <br />
    <input type="text" placeholder="Email" asp-for="@Model.Email" />
    <br />
    <input type="text" placeholder="Password" asp-for="@Model.Password" />
    <br />
    <input type="text" placeholder="Bio" asp-for="@Model.Bio" />
    <br />
    <input type="text" placeholder="PFP" asp-for="@Model.ProfilePicture" />
    <br />
    <button type="submit">Submit</button>
</form>
