@using Explorers_Haven.Models
@model IEnumerable<Travel>

<partial name="_Notification"></partial>

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <h3>Пътуване</h3>
        </div>
        <div class="col col-md-6">
            <a asp-controller="Travel" asp-action="AddTravel" class="btn btn-primary">Добави Пътуване</a>
        </div>


    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ИД</th>
            <th scope="col">Старт</th>
            <th scope="col">Финал</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var tr in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@tr.Id</td>
                <td>@tr.Start</td>
                <td>@tr.Finish</td>
                <td>
                    <div class="btn-group">
                        <a asp-controller="Travel" asp-action="EditTravel" asp-route-Id="@tr.Id" class="btn btn-primary">Редактирай</a>
                        <a asp-controller="Travel" asp-action="Delete" asp-route-Id="@tr.Id" class="btn btn-primary">Изтрий</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
